<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= yield(:page_title) %> | AveryBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    

  </head>

  <body>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <main role="main">
      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Poet&apos;s Introduction</h1>
          <p class="lead text-muted">
            Though our lives tightly confine our ability to interact with the world and be creative, our writings are connected to our language. Hence, poetry has the power to influence actions of those taken by people far removed from us in time. My name is Avery, and this page contains my perspective, my advice, and my desire to live harmoneously with the universe. Please consider each story to be independent, yet connected to each other by common actions taken by people of our culture years, or perhaps even millennia back in time. Anyone with access to this site should feel welcome to expand on my writings, either through interpolation, extrapolation, or with their personal experiences as inspired by the relatability of our words here. Nothing is mine except the path through language traversed by my stanzas, just how each of us travels across the Earth on the back of our society. It is our purpose to envision a direction and to collaborate with others to reach these visionary goals. Be the change you want to see.
          </p>
        </div>
      </section>
    </main>

    <%= yield %>
  </body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" href="/">Avery&apos;s Poetry Corner</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/ideas">Ideas</a>
          </li>
        </ul>
        <p class="navbar-text float-right">
        <% if user_signed_in? %>
          Logged in as <strong><%= current_user.email %></strong>.
          <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link' %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link' %> |
          <%= link_to "Login", new_user_session_path, :class => 'navbar-link' %>
        <% end %>
        </p>
      </div>
    </div>
  </nav>

</html>
